:root {
  --main: #ffe8ba;

  --mainFont: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.link {
  text-decoration: underline;
}

body {
  font-family: var(--mainFont);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 2rem;
  background-color: var(--main);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #000;
  padding-bottom: 25px;
  margin-bottom: 40px;

  ul {
    display: flex;
    gap: 3rem;
  }
}

section {
  padding: 4rem 0;
}

.burger {
  cursor: pointer;
}

.logo {
  font-size: 1.6rem;
  font-weight: 400;
}

.cart {
  display: flex;
  align-items: center;
  gap: 0.2rem;

  .cartImg {
    width: 30px;
    height: 30px;
  }
}

.heroBlock {
  margin-bottom: 30px;
  .heroBlockImg {
    width: 100%;
    border-radius: 45px;
  }
}
.heroTitle {
  text-align: center;
  font-size: 8rem;
  font-weight: 400;
}

.articleBlock {
  display: flex;
  justify-content: space-between;

  .articleTitle {
    max-width: 736px;
    font-size: 5rem;
    font-weight: 400;
  }

  .article {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.articleImgBlock {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  p:first-of-type {
    margin-bottom: 0.2rem;
  }
}

.articleImg1 {
  width: 100%;
  max-width: 600px;
  max-height: 725px;
}
.articleImg2 {
  width: 100%;
  max-width: 350px;
  margin-bottom: 20px;
}

.slider {
  background-color: #e6d8f9;
}

.sliderBlock {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  padding: 20px 0;
  overflow: hidden;
}

.sliderCard {
  max-width: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.sliderImg {
  width: 540px;
  height: 540px;
}
.cardTitle {
  font-size: 2rem;
}

.cardPrice {
  font-size: 1.5rem;
}

.shopBtn {
  /* background-color: #000; */
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: solid 2px #000;
}

.shopBtn:hover {
  background-color: #000;
  color: #fff;
  transition: all 0.5s;
}

.sliderbtnBlock {
  display: flex;
  justify-content: center;
  gap: 1rem;

  img {
    cursor: pointer;
  }
}
.reviewbtnBlock {
  display: flex;
  justify-content: center;
  gap: 1rem;

  img {
    cursor: pointer;
  }
}

.reviewsBg {
  background-image: url("../img/sectionsBg.png");
  background-size: cover;
  background-position: center;
}

.reviewsBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewImg {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.reviewCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.reviewsTitle {
  font-size: 7rem;
  text-align: center;
}

.reviewText {
  font-size: 1.5rem;
  text-align: center;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.socialTitle {
  text-align: center;
  font-size: 5rem;
}

.socialText {
  font-size: 1.5rem;
}

.socialBlock {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.socialImg {
  width: 439px;
  height: 387px;
  border-radius: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 30px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 1.5rem;
}
.div2 {
  grid-area: 1 / 5 / 2 / 6;
}
.div3 {
  grid-area: 2 / 1 / 3 / 2;
}
.div4 {
  grid-area: 2 / 3 / 3 / 4;
}
.div5 {
  grid-area: 3 / 1 / 4 / 2;
}
.div6 {
  grid-area: 3 / 5 / 4 / 6;
}

.icons {
  width: 25px;
  height: 25px;
}

@media screen and (min-width: 800px) {
  .burger {
    display: none;
  }

  .sliderbtnBlock {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .heroTitle {
    font-size: 4rem;
  }

  .reviewsBlock > .sliderbtnBlock > img {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  nav {
    display: none;
  }

  .articleBlock {
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .articleTitle {
      font-size: 3rem;
    }
  }

  .articleImgBlock {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 802px) {
  .articleImgBlock {
    justify-content: center;
  }
  .articleImg1,
  .articleImg2 {
    max-width: 260px;
  }
  .articleImg1 {
    margin-right: 170px;
  }
  .articleImgBlock > div {
    margin-left: 170px;
  }
  .sliderCard:not(:first-child) {
    display: none;
  }
  .sliderImg {
    width: 100%;
    max-width: 453px;
    height: 453px;
  }
  .cardTitle {
    font-size: 1.5rem;
  }
  .cardPrice {
    font-size: 1.2rem;
  }

  .reviewsTitle {
    font-size: 4rem;
  }

  .socialTitle {
    font-size: 3rem;
  }

  .socialImg {
    width: 200px;
    height: 164px;
  }
}

@media (max-width: 550px) {
  .grid {
    grid-template-rows: repeat(4, 1fr);
  }
  .div1 {
    grid-area: 1 / 5 / 1 / 1;
    font-size: 1.5rem;
  }
  .div3 {
    grid-area: 1 / 5 / 2 / 6;
  }
  .div4 {
    grid-area: 2 / 1 / 3 / 4;
  }
  .div2 {
    grid-area: 3 / 1 /4 /12;
  }
  .div5 {
    grid-area: 2 / 4 / 3 / 12;
    display: flex;
    align-items: flex-end;
  }
  .div6 {
    grid-area: 4 / 1 / 4 / 12;
  }
}
