:root {
  --main: #ffe8ba;

  --mainFont: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main);
  font-family: var(--mainFont);
}

header {
  color: red;
  font-size: 32px;
  font-weight: 300;
}
